/*products*/
.products {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    border-collapse: collapse;
}

.products__wrapper {
    max-width: 60px;
    height: auto;

    text-align: center;
    font-size: 0;
}

@media screen and (max-width: 767px) {
    .products__list-header {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .products__list-header {
        width: 100%;
    }

    .products__header {
        width: 100%;
    }

    .products__caption {
        padding-bottom: 38px;

        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(18px * 1.2);
    }

    .products__caption--center {
        text-align: center;
    }

    .products__title,
    .product__option {
        font-size: 16px;
        line-height: calc(16px * 1.2);
    }
}