
.basket__calculation {
    margin-top: 20px;
}

.basket__calculation-table {
    width: 100%;
}

.basket__calculation-stroke {
    display: block;
    width: 100%;
}

.basket__calculation-stroke:last-child {
    margin-top: 35px;
}

.basket__calculation-name {
    width: 65%;
    min-width: 177px;
    padding: 0;
}

.basket__calculation-sum {
    width: 30%;

    text-align: right;
}

.basket__calculation-name--selection,
.basket__calculation-sum--selection {
    color: #ff6c00;
}

@media screen and (min-width: 960px) {

    .basket__calculation {
        margin-top: 0;
    }
}
