

/*header*/

/*navigation*/

.navigation {
    background-color: #ffffff;
}

.navigation__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .navigation__wrapper {
        position: fixed;
        bottom: 21px;
        z-index: 100;

        width: 100%;
        height: 60px;
        padding: 0 10px;

        background-color: #f8f8f8;
        border-bottom: 1px solid #ff6c00;
        border-top: 1px solid #ff6c00;
    }

    .navigation__item {
        width: 20%;
    }

    .navigation__item:active,
    .navigation__item:active {
        opacity: 0.3;
    }
}

/*search*/

.search {
    position: relative;
    height: 33px;
}

.search::before {
    content: "";

    position: absolute;
    left: 0;
    z-index: 10;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
}

.search__input {
    position: relative;

    display: block;
    width: 100%;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;

    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.search__input::placeholder {
    content: "";

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}

@media screen and (max-width: 767px) {
    .search::before {
        content: "";

        background-size: contain;
        background-position: 35%;
    }

    .search__input {
        position: fixed;
        bottom: 100px;
        left: 50%;

        display: none;
        width: 70%;
        height: 40px;
        padding-left: 20px;

        background-color: #ffffff;
        border: none;
        border-radius: 20px;
        box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.4);

        transform: translateX(-50%);
    }
}

/*user-navigation*/

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation__item {
    width: 33.3%;
}

.user-navigation__link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    min-height: 35px;
    padding-left: 30px;

    font-size: 12px;
    line-height: calc(12px * 1.2);
    color: #000000;
}

.user-navigation__link--authorization::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/icon-autorization.png");
    background-repeat: no-repeat;
}

.user-navigation__link--basket::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/icon-basket.png");
    background-repeat: no-repeat;
}

.user-navigation__description {
    margin: 0;
}

.user-navigation__link--authorization .user-navigation__description {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: calc(14px * 1.2);
}

@media screen and (max-width: 767px) {
    .user-navigation__link--authorization::before {
        content: "";

        background-size: contain;
        background-position: 50%;
    }

    .user-navigation__link--basket::before {
        content: "";

        background-size: contain;
        background-position: 65%;
    }

    .user-navigation__link--etc::before {
        content: "";
        position: absolute;
        top: 43%;
        right: 20px;

        display: block;
        width: 8px;
        height: 8px;

        background-color: #ff6c00;
        border-radius: 50%;
        box-shadow: -20px 0 0 0 #ff6c00, 20px 0 0 0 #ff6c00;
    }

    .user-navigation__link:active,
    .user-navigation__link:focus {
        opacity: 0.3;
    }

    .user-navigation__description {
        display: none;
    }
}

/*catalog-navigation*/

.catalog-navigation__title {
    display: none;
}

.catalog-navigation__list {
    margin: 0;

    list-style: none;

    background-color: #f8f8f8;
    border-top: #e4e4e4;
}

.catalog-navigation__item {
    width: auto;
    height: auto;
}

.catalog-navigation__link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 18px;
    padding-bottom: 15px;

    color: #000000;
}

.catalog-navigation__link--active {
    border-bottom: 3px solid #ff6c00;
}

@media screen and (max-width: 767px) {
    .catalog-navigation {
       /* position: absolute;*/
        position: static;
        top: 0;
        z-index: 50;

        /*display: none;*/
        width: 100%;
        height: 91vw;

        background-color: #f8f8f8;
    }

    .catalog-navigation__title {
        display: block;
        margin: 0;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 20px;

        font-weight: 400;
        font-size: 30px;
        line-height: calc(30px * 1.2);
        color: #ffffff;

        background-color: #ff6c00;
    }

    .catalog-navigation__list {
        padding: 0;
    }

    .catalog-navigation__link {
        position: relative;

        padding-left: 20px;
    }

    .catalog-navigation__link::before {
        content: "";

        position: absolute;
        top: 50%;
        right: 4%;

        display: block;
        width: 15px;
        height: 15px;

        background-color: transparent;
        border-top: 2px solid #ff8c00;
        border-right: 2px solid #ff8c00;
        transform: translateY(-50%) rotate(45deg);
    }
}

/*submenu*/

.submenu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.submenu--header {
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;
}

.submenu__item {
    width: auto;
    height: auto;
}

.submenu__link {
    display: block;
    width: 100%;
    height: 100%;
}

.submenu--header .submenu__link {
    padding-top: 16px;
    padding-bottom: 14px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}

.submenu--footer .submenu__link {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #2a2a2a;

    background-color: #ffffff;
}

@media screen and (max-width: 767px) {
    .submenu--header .submenu__link {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .submenu--header .submenu__link--active {
        color: #ff6c00;
    }
}

@media screen and (min-width: 768px) {
    .submenu--header .submenu__link--active {
        border-bottom: 3px solid #ff6c00;
    }

    .submenu--footer .submenu__link {
        padding-bottom: 15px;

        color: #cacaca;

        background-color: transparent;
    }
}

/*other-options*/

.other-options {
    background-color: #e4e4e4;
}

.other-options__number {
    font-size: 18px;
    line-height: calc(18px * 1.2);
    color: #000000;
}

.other-options__descriptions {
    font-size: 12px;
    line-height: calc(12px * 1.2);
}

.other-options__link {
    position: relative;

    display: block;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 33px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}

.other-options__link--youtube {
    padding-left: 56px;
}

.other-options__link--blog::before {
    content: "";

    position: absolute;
    top: 11%;
    left: 0;

    display: block;
    width: 30px;
    height: 31px;

    background-image: url("../../img/icon-star.png");
    background-repeat: no-repeat;
}

.other-options__link--youtube::before {
    content: "";

    position: absolute;
    top: 25%;
    left: 0;

    display: block;
    width: 54px;
    height: 22px;

    background-image: url("../../img/icon-youtube.png");
    background-repeat: no-repeat;
}

.other-options__link--live::before {
    content: "";

    position: absolute;
    top: 25%;
    left: 0;

    display: block;
    width: 30px;
    height: 22px;

    background-image: url("../../img/icon-live.png");
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .other-options__telephone {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        bottom: 0;
        width: 100%;
        background-color: #e4e4e4;
    }

    .other-options__number {
        vertical-align: middle;
    }

    .other-options__media {
        display: none;
    }
}

/*main*/
/*basket*/

.basket {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.basket__title {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    padding-top: 40px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 22px;
    line-height: calc(22px * 1.2);
    color: #ffffff;

    background-color: #ff8c00;
}

.basket__wrapper {
    order: 2;
    width: 100%;
    margin-bottom: 110px;
    padding-top: 30px;

    border-top: 1px solid #d9d9d9;
}

.basket__wrapper-table {
    width: 100%;
    padding-top: 20px;
}

.basket__promocode-slogan {
    display: none;
}

.basket__promocode-field {
    width: 69%;
    height: 44px;
    margin-top: 10px;
    padding-left: 15px;

    border: 1px solid #dadada;
}

.basket__promocode-field::placeholder {
    content: "";

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #d0d0d0;
}

.basket__calculation {
    margin-top: 20px;
}

.basket__calculation-table {
    width: 100%;
}

.basket__calculation-stroke {
    display: block;
    width: 100%;
}

.basket__calculation-stroke:last-child {
    margin-top: 35px;
}

.basket__calculation-name {
    width: 65%;
    min-width: 177px;
    padding: 0;
}

.basket__calculation-sum {
    width: 30%;

    text-align: right;
}

.basket__calculation-name--selection,
.basket__calculation-sum--selection {
    color: #ff6c00;
}

@media screen and (min-width: 960px) {
    .basket {
        margin-top: 70px;

        border-top: 2px solid #d9d9d9;
    }

    .basket__title {
        display: block;
        max-width: 178px;
        margin: 0 auto;
        margin-top: -15px;
        padding: 0 15px;
        padding-bottom: 58px;

        text-align: center;

        font-weight: 500;
        color: #000000;

        background-color: #ffffff;
    }

    .basket__wrapper {
        order: 0;
        width: 100%;
        padding-top: 0;

        border-top: none;
    }

    .basket__promocode-slogan {
        display: block;
        margin: 0;
        padding-bottom: 10px;
    }

    .basket__promocode-field {
        width: 277px;
        margin-top: 0;
    }

    .basket__calculation {
        margin-top: 0;
    }
}

/*products*/
.products {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    border-collapse: collapse;
}

.products__cell {
    position: relative;

    vertical-align: top;
    padding-bottom: 30px;
}

.products__image {
    width: 30%;
    min-width: 138px;
    max-width: 178px;
}

.product__image-catalog {
    display: block;
    margin: 0;
    padding: 0;
}

.products__description {
    width: 75%;
    padding-left: 15px;
}

.products__title,
.product__option {
    margin: 0;
    font-size: 14px;
    line-height: calc(14px * 1.2);
    font-weight: 500;
}

.product__article {
    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #808080;
}

.products__wrapper {
    max-width: 60px;
    height: auto;

    text-align: center;
    font-size: 0;
}

.product__counter {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    line-height: calc(20px * 1.2);

    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter::-webkit-outer-spin-button,
.product__counter::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter:hover,
.product__counter:focus {
    outline: none;
    -moz-appearance: number-input;
    -webkit-appearance: none;
    appearance: none;
}

.products__price-value {
    margin: 0;

    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .products__list-header {
        display: none;
    }

    .products__price {
        display: none;
    }

    .products__number {
        display: none;
    }

    .products__delete {
        display: none;
    }

    .products__wrapper--counter {
        position: absolute;
        bottom: 2%;
        left: 50%;

        transform: translateX(-55%);
    }

    .products__price-value {
        position: absolute;
        bottom: 4%;
        right: 0;

        color: #ff6c00;
    }
}

@media screen and (min-width: 768px) {
    .products {
        border-bottom: 2px solid #d9d9d9;
    }

    .products__list-header {
        width: 100%;
    }

    .products__header {
        width: 100%;
    }

    .products__caption {
        padding-bottom: 38px;

        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(18px * 1.2);
    }

    .products__caption--center {
        text-align: center;
    }

    .products__title,
    .product__option {
        font-size: 16px;
        line-height: calc(16px * 1.2);
    }
}

/*add*/

.add {
    width: 100%;
    margin-bottom: 50px;

    border-top: 2px solid #d9d9d9;
}

.add__title {
    display: block;
    padding: 0 20px;
    padding-top: 25px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    color: #ff8c00;

    background-color: #ffffff;
}

.add__list {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    padding: 0;

    list-style: none;
    overflow: hidden;
}

.add__item {
    display: flex;
    width: 100%;
    min-width: 140px;
    margin-right: 3%;
}

.add__item:last-child {
    margin-right: 0;
}

.add__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.add__caption {
    order: 1;
    margin: 0;
    padding-bottom: 10px;

    text-align: center;

    font-size: 16px;
    font-weight: 400;
}

.add__image {
    display: block;
    padding-bottom: 10px;
}

.add__price {
    order: 2;
    margin: 0;

    text-align: center;

    font-weight: 500;
}

@media screen and (min-width: 960px) {
    .add__title {
        max-width: 315px;
        margin: 0 auto;
        margin-top: -15px;
        padding-bottom: 30px;

        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: calc(22px * 1.2);
        color: #000000;

        background-color: #ffffff;
    }
}

/*footer*/

.footer {
    display: flex;
    flex-wrap: wrap;
    /*display: none;*/

    background-color: #2a2a2a;
}

.logo__image {
    display: none;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*mailing*/

.mailing {
    order: 2;

    width: 100%;

    background-color: #ffffff;
}

.mailing__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 20px;
}

.mailing__slogan {
    padding-top: 15px;

    font-family: "Roboto", "Arial", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2a2a2a;
}

.mailing__form {
    width: 100%;
}

.mailing__field {
    width: 75%;
    height: 30px;
    padding-left: 15px;

    border: 1px solid #f2f2f2;
    border-radius: 30px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.mailing__field::placeholder {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #8b8b8b;
}

@media screen and (max-width: 767px) {

    .mailing__slogan--hidden {
        display: none;
    }

    .mailing__button {
        position: relative;

        width: 60px;
        height: 50px;

        font-size: 0;

        background-color: transparent;
    }

    .mailing__button::before {
        content: "";

        position: absolute;
        top: 7px;
        right: 0;

        display: block;
        width: 60px;
        height: 50px;

        background-image: url("../../img/icon-mail.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .mailing__slogan {
        font-family: "Helvetica", "Arial", "sans-serif";
        font-weight: 700;
        font-style: italic;
    }

    .mailing__field {
        width: 292px;
    }

    .mailing__wrapper::before {
        content: "";

        display: block;
        width: 61px;
        height: 43px;
        margin-right: 20px;
        margin-bottom: -5px;

        background-image: url("../../img/icon-mail.png");
        background-repeat: no-repeat;
    }
}

/*social*/

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.social__title {
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social__item {
    width: min-content;
    margin-right: 1.25%;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    position: relative;

    display: block;
    width: 35px;
    height: 35px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
}

.social__link--vk::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 9px;

    display: block;
    width: 16px;
    height: 17px;

    background-image: url("../../img/icon-vk.png");
    background-repeat: no-repeat;
}

.social__link--fb::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 11px;

    display: block;
    width: 11px;
    height: 22px;

    background-image: url("../../img/icon-fb.png");
    background-repeat: no-repeat;
}

.social__link--class::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 10px;

    display: block;
    width: 14px;
    height: 23px;

    background-image: url("../../img/icon-class.png");
    background-repeat: no-repeat;
}

.social__link--pinterest::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 7px;

    display: block;
    width: 19px;
    height: 24px;

    background-image: url("../../img/icon-pinterest.png");
    background-repeat: no-repeat;
}

.social__link--pinme::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../../img/icon-pinme.png");
    background-repeat: no-repeat;
}

.social__link--instagram::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 6px;

    display: block;
    width: 21px;
    height: 22px;

    background-image: url("../../img/icon-inst.png");
    background-repeat: no-repeat;
}

.social__link--youtube::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 6px;

    display: block;
    width: 22px;
    height: 29px;

    background-image: url("../../img/icon-youtube-soc.png");
    background-repeat: no-repeat;
}

.social__link:hover,
.social__link:focus {
    border-color: #ff6c00;
    outline: none;
}

.social__link:active {
    border-color: rgba(255, 108, 0, 0.6);
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .social__title {
        margin-right: 10px;
        padding-top: 30px;
        padding-bottom: 36px;
    }

    .social__list {
        justify-content: center;
        width: auto;
    }

    .social__link {
        width: 50px;
        height: 50px;
    }
}

/*telephone*/

.telephone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.telephone__number {
    font-size: 30px;
    line-height: calc(30px * 1.2);
    color: #f3f3f3;
}

.telephone__descriptions {
    padding-bottom: 10px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #f3f3f3;
}

@media screen and (max-width: 767px) {
    .telephone {
        display: none;
    }
}

/*site-navigation*/

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation__item {
    width: 100%;
    margin-right: 3%;
}

.site-navigation__link {
    font-size: 18px;
    color: #ffffff;
}

.site-navigation__link {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;

    font-size: 18px;
    color: #ffffff;

    background-color: #ff6c00;
}

@media screen and (min-width: 768px) {
    .site-navigation {
        flex-direction: row;
        width: 60%;
    }

    .site-navigation__item {
        width: 20%;
    }

    .site-navigation__link {
        background-color: transparent;
    }
}

/*copyright*/
.copyright {
    order: 3;
    width: 100%;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 85px;

    text-align: center;

    background-color: #ffffff;
}

.copyright__description {
    width: 100%;
    margin: 0;

    font-size: 7px;
    line-height: calc(7px * 1.2);
    color: #cacaca;
}

@media screen and (min-width: 768px) {
    .copyright {
        width: 100%;
        padding: 40px 0;

        text-align: center;

        background-color: transparent;
    }

    .copyright__description {
        font-size: 12px;
        line-height: calc(12px * 1.2);
    }
}
