/*site-navigation*/

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation__item {
    width: 100%;
    margin-right: 3%;
}

.site-navigation__link {
    font-size: 18px;
    color: #ffffff;
}

.site-navigation__link {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;

    font-size: 18px;
    color: #ffffff;

    background-color: #ff6c00;
}

@media screen and (min-width: 768px) {
    .site-navigation {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .site-navigation__item {
        width: auto;
        max-width: 200px;
        margin-right: 0;
    }

    .site-navigation__link {
        padding-left: 0;

        background-color: transparent;
    }
}

@media screen and (min-width: 1150px) {
    .site-navigation {
        width: 60%;
    }

    .site-navigation__item {
        max-width: 175px;
    }

    .site-navigation__link {
        padding-top: 0;
    }
}
