/*telephone*/

.telephone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.telephone__number {
    font-size: 30px;
    line-height: calc(30px * 1.2);
    color: #f3f3f3;
}

.telephone__descriptions {
    padding-bottom: 10px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #f3f3f3;
}

@media screen and (max-width: 767px) {
    .telephone {
        display: none;
    }
}