
/*products*/
.products__cell {
    position: relative;

    vertical-align: top;
    padding-bottom: 30px;
}

.products__image {
    width: 30%;
    min-width: 138px;
    max-width: 178px;
}

.product__image-catalog {
    display: block;
    margin: 0;
    padding: 0;
}

.products__description {
    width: 75%;
    padding-left: 15px;
}

.products__title,
.product__option {
    margin: 0;
    font-size: 14px;
    line-height: calc(14px * 1.2);
    font-weight: 500;
}

.product__article {
    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #808080;
}

.products__wrapper {
    max-width: 60px;
    height: auto;

    text-align: center;
    font-size: 0;
}

.product__counter {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    line-height: calc(20px * 1.2);

    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter::-webkit-outer-spin-button,
.product__counter::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter:hover,
.product__counter:focus {
    outline: none;
    -moz-appearance: number-input;
    -webkit-appearance: none;
    appearance: none;
}

.products__price-value {
    margin: 0;

    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 959px) {
    .products__price {
        display: none;
    }

    .products__number {
        display: none;
    }

    .products__delete {
        display: none;
    }

    .products__wrapper--counter {
        position: absolute;
        bottom: 2%;
        left: 50%;

        transform: translateX(-55%);
    }

    .products__price-value {
        position: absolute;
        bottom: 4%;
        right: 0;

        color: #ff6c00;
    }
}