.basket__promocode-slogan {
    display: none;
}

.basket__promocode-field {
    width: 69%;
    height: 44px;
    margin-top: 10px;
    padding-left: 15px;

    border: 1px solid #dadada;
}

.basket__promocode-field::placeholder {
    content: "";

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #d0d0d0;
}

@media screen and (min-width: 960px) {
    .basket__promocode-slogan {
        display: block;
        margin: 0;
        padding-bottom: 10px;
    }

    .basket__promocode-field {
        width: 277px;
        margin-top: 0;
    }
}

