/*footer*/

.footer {
    display: flex;
    flex-wrap: wrap;

    background-color: #2a2a2a;
}

.footer__logo-image {
    display: none;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
    }
}
