.basket {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.basket__title {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    padding-top: 40px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 22px;
    line-height: calc(22px * 1.2);
    color: #ffffff;

    background-color: #ff8c00;
}

.basket__wrapper {
    order: 2;
    width: 100%;
    margin-bottom: 110px;
    padding-top: 30px;

    border-top: 1px solid #d9d9d9;
}

.basket__wrapper-table {
    width: 100%;
    padding-top: 20px;
}

@media screen and (min-width: 960px) {
    .basket {
        margin-top: 70px;

        border-top: 2px solid #d9d9d9;
    }

    .basket__title {
        display: block;
        max-width: 178px;
        margin: 0 auto;
        margin-top: -15px;
        padding: 0 15px;
        padding-bottom: 58px;

        text-align: center;

        font-weight: 500;
        color: #000000;

        background-color: #ffffff;
    }

    .basket__wrapper {
        order: 0;
        width: 100%;
        padding-top: 0;

        border-top: none;
    }
}

