
/*other-options*/

.other-options {
    background-color: #e4e4e4;
}

.other-options__number {
    font-size: 18px;
    line-height: calc(18px * 1.2);
    color: #000000;
}

.other-options__descriptions {
    font-size: 12px;
    line-height: calc(12px * 1.2);
}

.other-options__link {
    display: none;
}


@media screen and (max-width: 767px) {
    .other-options__wrapper {
        padding: 0;
    }

    .other-options__telephone {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        bottom: 0;
        width: 100%;
        background-color: #e4e4e4;
    }

    .other-options__number {
        vertical-align: middle;
    }

    .other-options__media {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .other-options__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .other-options__number {
        display: flex;
        align-items: center;
    }

    .other-options__number .other-options__descriptions {
        margin-left: 5px;
    }

    .other-options__media {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .other-options__link {
        position: relative;

        display: none;
        padding-top: 15px;
        padding-bottom: 12px;
        padding-left: 33px;
        padding-right: 36px;

        font-size: 14px;
        line-height: calc(14px * 1.2);
        color: #000000;
    }

    .other-options__link:last-child {
        padding-right: 0;
    }

    .other-options__link--live {
        display: block;
    }

    .other-options__link--youtube {
        padding-left: 56px;
    }

    .other-options__link--blog::before {
        content: "";

        position: absolute;
        top: 11%;
        left: 0;

        display: block;
        width: 30px;
        height: 31px;

        background-image: url("../../img/icon-star.png");
        background-repeat: no-repeat;
    }

    .other-options__link--youtube::before {
        content: "";

        position: absolute;
        top: 25%;
        left: 0;

        display: block;
        width: 54px;
        height: 22px;

        background-image: url("../../img/icon-youtube.png");
        background-repeat: no-repeat;
    }

    .other-options__link--live::before {
        content: "";

        position: absolute;
        top: 25%;
        left: 0;

        display: block;
        width: 30px;
        height: 22px;

        background-image: url("../../img/icon-live.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1150px) {
    .other-options__link {
        display: block;
    }
}