
/*add*/

.add {
    width: 100%;
    margin-bottom: 50px;

    border-top: 2px solid #d9d9d9;
}

.add__title {
    display: block;
    padding: 0 20px;
    padding-top: 25px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    color: #ff8c00;

    background-color: #ffffff;
}

.add__list {
    display: flex;
    justify-content: center;

    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    list-style: none;
    overflow: hidden;
}

.add__item {
    display: flex;
    width: 100%;
    min-width: 140px;
    margin-right: 3%;
}

.add__item:last-child {
    margin-right: 0;
}

.add__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.add__caption {
    order: 1;
    margin: 0;
    padding-bottom: 10px;

    text-align: center;

    font-size: 16px;
    font-weight: 400;
}

.add__image {
    display: block;
    padding-bottom: 10px;
}

.add__price {
    order: 2;
    margin: 0;

    text-align: center;

    font-weight: 500;
}

@media screen and (min-width: 1150px) {
    .add__title {
        max-width: 315px;
        margin: 0 auto;
        margin-top: -15px;
        padding-bottom: 30px;

        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: calc(22px * 1.2);
        color: #000000;

        background-color: #ffffff;
    }
}
