<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
    <title>SHOP24</title>
</head>
<body>
<header class="header">
    <div class="header__wrapper">
        <nav class="navigation">
            <a class="navigation__logo logo logo--header">
                <img class="logo-image" src="../../img/logo-orange.png" width="198" height="56"
                     alt="Логитип магазина SHOP24 New Look">
            </a>
            <form class="navigation__search search" action="#" method="post" name="search">
                <input class="search__input" type="search" name="search-field"
                       placeholder="Поиск по сайту" aria-label="Поле поиск по сайту">
            </form>
            <div class="navigation__wrapper catalog-navigation">
                <ul class="navigation__list catalog-navigation__list">
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link catalog-navigation__link--active" href="#">
                            Одежда и аксессуары
                        </a>
                        <ul class="catalog-navigation__submenu submenu submenu--header" aria-label="Подраздел меню одежда и аксессуары">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--active" href="#">
                                    Женская одежда
                                </a>
                            </li>
                        <li class="submenu__item">
                                <a class="submenu__link" href="#">
                                    Мужская одежда
                                </a>
                        </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="#">
                                    Аксессуары
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link" href="#">
                            Обувь
                        </a>
                    </li>
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link" href="#">
                            Украшения
                        </a>
                    </li>
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link" href="#">
                            Красота и здоровье
                        </a>
                    </li>
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link" href="#">
                            Товары для дома
                        </a>
                    </li>
                    <li class="catalog-navigation__item">
                        <a class="catalog-navigation__link" href="#">
                            Товары для кухни
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="navigation__list user-navigation">
                <li class="user-navigation__item">
                    <a class="user-navigation__link user-navigation__link--authorization" href="#">
                        <p class="user-navigation__description visually-hidden">
                            Вход в личный кабинет:
                        </p>
                        <p class="user-navigation__description">
                            Анастасия
                        </p>
                    </a>
                </li>
                <li class="user-navigation__item">
                    <a class="user-navigation__link user-navigation__link--basket" href="#">
                        <p class="user-navigation__description">
                            В корзине:
                        </p>
                        <p class="user-navigation__description">
                            4 товара
                        </p>
                    </a>
                </li>
                <li class="user-navigation__item user-navigation__item--hidden">
                    <a class="user-navigation__link user-navigation__link--etc" href="#navigation">
                        <span class="visually-hidden">
                            Далее
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__wrapper other-options">
        <div class="other-options__telephone">
            <a class="other-options__number" href="tel:89005007555">
                8 (800) 500-75-55
            </a>
            <span class="other-options__descriptions">
          Бесплатный звонок по России
        </span>
        </div>
        <div class="other-options__media">
            <a class="other-options__link other-options__link--blog" href="#">
                Звездный блог
            </a>
            <a class="other-options__link other-options__link--youtube" href="#">
                Смотрите нас на YouTube
            </a>
            <a class="other-options__link other-options__link--live" href="#">
                Смотрите наш прямой эфир
            </a>
        </div>
    </div>
</header>
<main class="main">
    <h1 class="main__title visually-hidden">
        Магазин SHOP 24
    </h1>
    <section class="basket">
        <h2 class="basket__title">
            Ваша корзина
        </h2>
        <table class="basket__list products">
            <thead class="products__list-header">
            <tr class="products__header">
                <th class="products__caption">
                    Товар
                </th>
                <th class="products__caption">
                    Описание
                </th>
                <th class="products__caption">
                    Количество
                </th>
                <th class="products__caption">
                    Цена
                </th>
                <th class="products__caption">
                    Удалить
                </th>
            </tr>
            </thead>
            <tr class="products__item">
                <td class="products__image">
                    <img class="product__image-catalog" src="../../img/photo-catalog-dress.jpg" width="178" height="178"
                         alt="Изображение товара">
                </td>
                <td class="products__description">
                    <h3 class="products__title">
                        Платье-миди с расклешенной юбкой
                    </h3>
                    <p class="product__article">
                        Код:
                        <span class="products__article-value">
                            82039-11
                        </span>
                    </p>
                    <p class="product__option">
                        Размер:
                        <span class="products__option-value">
                            44
                        </span>
                    </p>
                    <p class="product__option">
                        Цвет:
                        <span class="products__option-value">
                            синий
                        </span>
                    </p>
                </td>
                <td class="products__number">
                    <div class="products__wrapper">
                        <button class="products__button button button--min" type="button">
                            <span class="visually-hidden">
                                Убрать
                            </span>
                        </button>
                        <input class="product__counter" type="number" value="1" min="1">
                        <button class="products__button button button--max" type="button">
                            <span class="visually-hidden">
                                Добавить
                            </span>
                        </button>
                    </div>
                </td>
                <td class="products__price">
                    <p class="products__price-value">
                        2 450 руб.
                    </p>
                </td>
                <td class="products__delete">
                    <button class="product__button button button--delete">
                        <span class="visually-hidden">
                            Удалить
                        </span>
                    </button>
                </td>
            </tr>
        </table>
        <div class="basket__wrapper">
            <form class="basket__promocode" action="#" method="post" name="promo">
                <p class="basket__promocode-slogan">
                    Есть промокод?
                </p>
                <input class="basket__promocode-field" type="password" name="promocode" placeholder="Введите промокод">
                <button class="basket__button button button--toapply" type="submit">
                    Применить
                </button>
            </form>
            <div class="basket__calculation">
                <table class="basket__calculation-table">
                    <tr class="basket__calculation-stroke">
                        <td class="basket__calculation-name">
                            Сумма заказа:
                        </td>
                        <td class="basket__calculation-sum">
                            9 800 руб.
                        </td>
                    </tr>
                    <tr class="basket__calculation-stroke">
                        <td class="basket__calculation-name basket__calculation-name--selection">
                            Промокод:
                        </td>
                        <td class="basket__calculation-sum basket__calculation-sum--selection">
                            -1 800 руб.
                        </td>
                    </tr>
                    <tr class="basket__calculation-stroke">
                        <td class="basket__calculation-name">
                            Всего:
                        </td>
                        <td class="basket__calculation-sum">
                            8 000 руб.
                        </td>
                    </tr>
                </table>
                <button class="basket__calculation-button button button--order">
                    Оформить заказ
                </button>
            </div>
        </div>
        <section class="add">
            <h2 class="add__title title">
                Добавьте к вашему заказу
            </h2>
            <ul class="add__list">
                <li class="add__item">
                    <a class="add__link">
                        <h3 class="add__title">
                            Солнечные очки зеленого цвета в стиле ретро
                        </h3>
                        <img class="add__image" src="../../img/photo-catalog-bag.jpg" width="276" height="276"
                             alt="Изображение товара">
                        <p class="add__price">
                            2 450 руб.
                        </p>
                    </a>
                </li>
                <li class="add__item">
                    <a class="add__link">
                        <h3 class="add__title">
                            Шляпа
                        </h3>
                        <img class="add__image" src="../../img/photo-catalog-had.jpg" width="276" height="276"
                             alt="Изображение товара">
                        <p class="add__price">
                            800 руб.
                        </p>
                    </a>
                </li>
                <li class="add__item">
                    <a class="add__link">
                        <h3 class="add__title">
                            Платье-миди с расклешенной юбкой
                        </h3>
                        <img class="add__image" src="../../img/photo-catalog-socks.jpg" width="276" height="276"
                             alt="Изображение товара">
                        <p class="add__price">
                            2 450 руб.
                        </p>
                    </a>
                </li>
                <li class="add__item">
                    <a class="add__link">
                        <h3 class="add__title">
                            Платье-миди с расклешенной юбкой
                        </h3>
                        <img class="add__image" src="../../img/photo-catalog-dress.jpg" width="276" height="276"
                             alt="Изображение товара">
                        <p class="add__price">
                            2 450 руб.
                        </p>
                    </a>
                </li>
            </ul>
        </section>
    </section>
</main>
<footer class="footer" id="navigation">
    <div class="footer__wrapper mailing">
        <b class="mailing__slogan">
            Подпишитесь на наши рассылки<br>
            и узнавайте первыми об акциях и распродажах
        </b>
        <form class="mailing__form" action="#" method="post" name="search">
            <input class="mailing__field" type="email" name="mail" placeholder="Введите Ваш e-mail">
            <button class="mailing__button button button--subscribe" type="submit">
                Подписаться
            </button>
        </form>
    </div>
    <div class="footer__wrapper social">
        <h3 class="social__title">
            SHOP24 в социальных сетях:
        </h3>
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link social__link--vk" href="https://www.vk.com">
            <span class="visually-hidden">
              Вконтакте
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--fb" href="https://www.facebook.com">
            <span class="visually-hidden">
              Facebook
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--class" href="https://www.facebook.com">
            <span class="visually-hidden">
              Одноклассники
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--pinterest" href="https://in.pinterest.com/">
            <span class="visually-hidden">
              Pinterest
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--pinterest" href="https://www.pinme.ru/">
            <span class="visually-hidden">
              Pin me
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--instagram" href="https://www.instagram.com">
            <span class="visually-hidden">
              Instagram
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--youtube" href="https://www.youtube.com">
            <span class="visually-hidden">
              YouTube
            </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__wrapper">
        <a class="footer__logo logo logo--footer" href="#">
            <img class="logo__image" src="../../img/logo-grey.png" width="100" height="56" alt="Логотип SHOP 24">
        </a>
        <div class="footer__telephone telephone">
            <a class="telephone__number" href="tel:89005007555">
                8 (800) 500-75-55
            </a>
            <sup class="telephone__star">*</sup>
            <span class="telephone__descriptions">
          Бесплатный звонок по России
        </span>
            <a class="telephone__number" href="tel:84957339603">
                8 (495) 733-96-03
            </a>
        </div>
        <ul class="footer__navigation site-navigation">
            <li class="site-navigation__item">
                <a class="site-navigation__title" href="#">
                    Каталог товаров
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Одежда и аксессуары
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Обувь
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Украшения
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Красота и здоровье
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Товары для дома, дачи и отдыха
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Товары для кухни
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Заказ
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Возврат
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Помощь
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Благотворительный Фонд Константина Хабенского
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Гарантия на дополнительное обслуживание товара
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Пользовательское соглашение
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Shop24
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Смотреть прямой эфир
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Расписание передач
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Акции
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Личный кабинет
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Поиск и карта сайта
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Карта брендов
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Обратная связь
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Информация
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            О канале
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Сотрудничество
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Покупайте с нами!
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer__wrapper copyright">
        <p class="copyright__description">
            Copyright ©&nbsp; Товар ООО «Стиль и Мода», 2014-2016. Все права защищены.
        </p>
        <p class="copyright__description">
            При использовании материалов сайта ссылка на www.shop24.com обязательна.
        </p>
        <p class="copyright__description">
            115193, Москва, ул. Кожуховская 5-я, д. 9, помещение VII
        </p>
        <p class="copyright__description">
            Телефон 8 800 500-75-55
        </p>
    </div>
</footer>
</body>
</html>