<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SHOP24</title>
</head>
<body>
<header class="header">
    <div class="header__wrapper">
        <nav class="navigation">
            <a class="navigation__logo logo logo--header">
                <img class="logo-image" src="../src/img/logo-orange.png" alt="Логитип магазина SHOP24 New Look">
            </a>
            <form class="navigation__search search" action="https://echo.htmlacademy.ru" method="post" name="search">
                <input class="navigation__input input input__search" type="search" name="search-field" placeholder="Поиск по сайту" aria-label="Поле поиск по сайту">
            </form>
            <ul class="navigation__list user-list">
                <li class="user-list__item authorization">
                    <p class="authorization__author-name">
                        Анастасия
                    </p>
                </li>
                <li class="user-list__item basket">
                    <a class="basket__link" href="#">
                        <p class="basket__title">
                            В корзине:
                        </p>
                        <p class="basket__amount">
                            4 товара
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__wrapper other-options">
        <div class="other-options__telephone">
            <a class="other-options__number" href="tel:89005007555">
                8 (800) 500-75-55
            </a>
            <span class="other-options__descriptions">
          Бесплатный звонок по России
        </span>
        </div>
        <div class="other-options__media">
            <a class="other-options__link other-options__link--blog">
                Звездный блог
            </a>
            <a class="other-options__link other-options__link--youtube">
                Смотрите нас на YouTube
            </a>
            <a class="other-options__link other-options__link--live">
                Смотрите наш прямой эфир
            </a>
        </div>
    </div>
    <div class="header__wrapper">
        <nav class="navigation catalog-navigation">
            <ul class="navigation__list catalog-navigation__list">
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Одежда и аксессуары
                    </a>
                    <ul class="catalog-navigation__submenu submenu" aria-label="Подраздел меню одежда и аксессуары">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                Женская одежда
                            </a>
                            <a class="submenu__link" href="#">
                                Мужская одежда
                            </a>
                            <a class="submenu__link" href="#">
                                Аксессуары
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Обувь
                    </a>
                </li>
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Украшения
                    </a>
                </li>
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Красота и здоровье
                    </a>
                </li>
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Товары для дома
                    </a>
                </li>
                <li class="catalog-navigation__item">
                    <a class="catalog-navigation__link" href="#">
                        Товары для кухни
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<footer class="footer">
    <div class="footer__wrapper social">
        <h3 class="social__title">
            SHOP24 в социальных сетях:
        </h3>
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link social__link--vk" href="https://www.vk.com">
            <span class="visually-hidden">
              Вконтакте
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--fb" href="https://www.facebook.com">
            <span class="visually-hidden">
              Facebook
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--class" href="https://www.facebook.com">
            <span class="visually-hidden">
              Одноклассники
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--pinterest" href="https://in.pinterest.com/">
            <span class="visually-hidden">
              Pinterest
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--pinterest" href="https://www.pinme.ru/">
            <span class="visually-hidden">
              Pin me
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--instagram" href="https://www.instagram.com">
            <span class="visually-hidden">
              Instagram
            </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--youtube" href="https://www.youtube.com">
            <span class="visually-hidden">
              YouTube
            </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__wrapper">
        <a class="footer__logo logo logo--footer" href="#">
            <img class="logo__image" src="../../img/logo-grey.png" alt="Логотип SHOP 24">
        </a>
        <div class="footer__telephone telephone">
            <a class="telephone__number" href="tel:89005007555">
                8 (800) 500-75-55
            </a>
            <sup class="telephone__star">*</sup>
            <span class="telephone__descriptions">
          Бесплатный звонок по России
        </span>
            <a class="telephone__number" href="tel:84957339603">
                8 (495) 733-96-03
            </a>
        </div>
        <ul class="footer__navigation site-navigation">
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Каталог товаров
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Одежда и аксессуары
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Обувь
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Украшения
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Красота и здоровье
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Товары для дома, дачи и отдыха
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Товары для кухни
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Заказ
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Возврат
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Помощь
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Благотворительный Фонд Константина Хабенского
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Гарантия на дополнительное обслуживание товара
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Пользовательское соглашение
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Shop24
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Смотреть прямой эфир
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Расписание передач
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Акции
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Личный кабинет
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Поиск и карта сайта
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Карта брендов
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Обратная связь
                        </a>
                    </li>
                </ul>
            </li>
            <li class="site-navigation__item">
                <a class="site-navigation__link" href="#">
                    Информация
                </a>
                <ul class="site-navigation__submenu submenu submenu--footer">
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            О канале
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Сотрудничество
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Покупайте с нами!
                        </a>
                    </li>
                    <li class="submenu__item submenu__item--footer">
                        <a class="submenu__link submenu__link--footer" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer__wrapper copyright">
        <p class="copyright__description">
            Copyright ©&nbsp; Товар ООО «Стиль и Мода», 2014-2016. Все права защищены.
        </p>
        <p class="copyright__description">
            При использовании материалов сайта ссылка на www.shop24.com обязательна.
        </p>
        <p class="copyright__description" >
            115193, Москва, ул. Кожуховская 5-я, д. 9, помещение VII
        </p>
        <p class="copyright__description" >
            Телефон  8 800 500-75-55
        </p>
    </div>
</footer>
</body>
</html>