html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-width: 280px;
    margin: 0 auto;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(16px * 1.2); /*120% от 16px auto*/
    font-family: "Roboto", "Arial", "sans-serif";
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*button*/
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #ffffff;

    background-color: transparent;
    border: none;
    border-radius: 30px;
}

.button--toapply {
    min-width: 180px;

    background-color: #b7b7b7;
}

.button--toapply:hover,
.button--toapply:focus,
.button--toapply:active {
    background-color: #ff8a00;
}

.button--order {
    min-width: 180px;

    background-color: #ff6c00;
}

.button--order:hover,
.button--order:focus,
.button--order:active {
    background-color: #ff8a00;
}

.button--subscribe {
    padding: 8px 10px;

    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 14px;
    line-height: calc(14px * 1.2);

    background-color: #2a2a2a;
    border-radius: 15px;
}

.button--min,
.button--max {
    position: relative;

    width: 20px;
    height: 23px;
    padding: 0;

    border-radius: 0;
}

.button--min::before {
    content: "";

    display: inline-block;
    width: 6px;
    height: 1px;

    vertical-align: middle;
    text-align: center;

    background-color: #8d8d8d;
}

.button--max::before {
    content: "";

    display: inline-block;
    width: 11px;
    height: 1px;

    vertical-align: middle;
    text-align: center;

    background-color: #8d8d8d;
}

.button--max::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 50%;

    display: inline-block;
    width: 1px;
    height: 11px;

    vertical-align: middle;
    text-align: center;

    background-color: #8d8d8d;
}

.button--product:focus {
    outline: none;
}

.button--product:hover::after,
.button--product:hover::before,
.button--product:active::after,
.button--product:active::before,
.button--product:focus::after,
.button--product:focus::before {
    background-color: #ff6c00;
}


.button--delete {
    position: relative;

    width: 100%;
    height: 20px;
    padding: 0;

    font-size: 0;

    border-radius: 0;
}

.button--delete::before,
.button--delete::after {
     content: "";

     position: absolute;
     top: 30%;
     left: 40%;

     display: block;
     width: 16px;
     height: 1px;

     background-color: #8d8d8d;
 }

.button--delete::before {
     transform: rotate(45deg);
 }

.button--delete::after {
     transform: rotate(-45deg);
 }

.button--delete:focus {
    outline: none;
}

.button--delete:hover::before,
.button--delete:hover::after,
.button--delete:focus::before,
.button--delete:focus::after,
.button--delete:active::before,
.button--delete:active::after {
    background-color: #ff6c00;
}

/*logo*/
/*container*/

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        min-width: 740px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}



/*header*/

.header {
    margin-bottom: 35px;
}
/*navigation*/
/*search*/

.search {
    position: relative;
    width: 227px;
}

.search::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    display: block;
    width: 17px;
    height: 17px;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
}

.search__input {
    position: relative;

    width: 100%;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;

    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.search__input::placeholder {
    content: "";

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}




/*user-navigation*/
.user-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation__item {
    width: auto;
}

.user-navigation__link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    min-height: 27px;
    padding-left: 30px;

    font-size: 12px;
    line-height: calc(12px * 1.2);
    color: #000000;
}

.user-navigation__link--authorization::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 27px;
    height: 25px;

    background-image: url("../../img/icon-autorization.png");
    background-repeat: no-repeat;
}

.user-navigation__link--basket::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 22px;
    height: 26px;

    background-image: url("../../img/icon-basket.png");
    background-repeat: no-repeat;
}

.user-navigation__description {
    margin: 0;
}

.user-navigation__link--authorization  .user-navigation__description {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: calc(14px * 1.2);
}


/*catalog-navigation*/

.catalog-navigation__list {
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #f8f8f8;
    border-top: #e4e4e4;
}

.catalog-navigation__item {
    width: auto;
    height: auto;
}

.catalog-navigation__link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 18px;
    padding-bottom: 15px;

    color: #000000;
}

.catalog-navigation__link--active {
    border-bottom: 3px solid #ff6c00;
}



/*submenu*/
.submenu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.submenu--header {
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;
}

.submenu__item {
    width: auto;
    height: auto;
}

.submenu__link {
    display: block;
    width: 100%;
    height: 100%;
}

.submenu--header .submenu__link {
    padding-top: 16px;
    padding-bottom: 14px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}

.submenu--header .submenu__link--active {
    border-bottom: 3px solid #ff6c00;
}

.submenu--footer .submenu__link {
    padding-bottom: 15px;

    color: #cacaca;
}


/*other-options*/
.other-options {
    background-color: #e4e4e4;
}

.other-options__number {
    font-size: 18px;
    line-height: calc(18px * 1.2);
    color: #000000;
}

.other-options__descriptions {
    font-size: 12px;
    line-height: calc(12px * 1.2);
}

.other-options__link {
    position: relative;

    display: block;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 33px;

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #000000;
}

.other-options__link--youtube {
    padding-left: 56px;
}

.other-options__link--blog::before {
    content: "";

    position: absolute;
    top: 11%;
    left: 0;

    display: block;
    width: 30px;
    height: 31px;

    background-image: url("../../img/icon-star.png");
    background-repeat: no-repeat;
}

.other-options__link--youtube::before {
    content: "";

    position: absolute;
    top: 25%;
    left: 0;

    display: block;
    width: 54px;
    height: 22px;

    background-image: url("../../img/icon-youtube.png");
    background-repeat: no-repeat;
}

.other-options__link--live::before {
    content: "";

    position: absolute;
    top: 25%;
    left: 0;

    display: block;
    width: 30px;
    height: 22px;

    background-image: url("../../img/icon-live.png");
    background-repeat: no-repeat;
}

/*main*/
/*basket*/
.basket {
    width: 100%;
    margin-top: 70px;

    border-top: 2px solid #d9d9d9;
}

.basket__title {
    display: block;
    max-width: 178px;
    margin: 0 auto;
    margin-top: -15px;
    padding-bottom: 58px;

    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: calc(22px * 1.2);

    background-color: #ffffff;
}

.basket__promocode-slogan {
    margin: 0;
    padding-bottom: 10px;
}

.basket__promocode-field {
    width: 277px;
    height: 44px;
    padding-left: 15px;

    border:1px solid #dadada;
}

.basket__promocode-field::placeholder {
    content: "";

    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #d0d0d0;
}

.basket__calculation-stroke {
    display: block;
    width: 100%;
}

.basket__calculation-stroke:last-child {
    margin-top: 35px;
}

.basket__calculation-name {
    width: auto;
    min-width: 273px;
}

.basket__calculation-name--selection,
.basket__calculation-sum--selection {
    color: #ff6c00;
}

.basket__wrapper {
    margin-bottom: 110px;
}

/*products*/
.products {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    border-collapse: collapse;
    border: none;
    border-bottom: 2px solid #d9d9d9;
}

.products__list-header {
    width: 100%;
}

.products__header {
    width: 100%;
}

.products__caption {
    padding-bottom: 38px;

    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(18px * 1.2);
}

.products__caption--center {
    text-align: center;
}

.products__cell {
    vertical-align: top;
    padding-bottom: 30px;
}

.product__image-catalog {
    display: block;
    margin: 0;
    padding: 0;
}

.products__title,
.product__option {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.product__article {
    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #808080;
}

.products__wrapper {
    max-width: 60px;
    height: auto;

    text-align: center;
    font-size: 0;

}

.product__counter {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    line-height: calc(20px * 1.2);


    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter::-webkit-outer-spin-button,
.product__counter::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.product__counter:hover,
.product__counter:focus {
    outline: none;
    -moz-appearance: number-input;
    -webkit-appearance: none;
    appearance: none;
}

.products__price-value {
    margin: 0;

    font-weight: 500;
    text-align: center;
}


/*add*/
.add {
    width: 100%;
    margin-bottom: 50px;

    border-top: 2px solid #d9d9d9;
}

.add__title {
    display: block;
    max-width: 315px;
    margin: 0 auto;
    margin-top: -15px;
    padding-bottom: 30px;

    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: calc(22px * 1.2);

    background-color: #ffffff;
}

.add__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.add__item {
    width: 24%;
    margin-right: 1%;
}

.add__item:last-child {
    margin-right: 0;
}

.add__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.add__caption {
    order: 1;

    margin: 0;
    padding-bottom: 10px;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
}

.add__image {
    display: block;
    padding-bottom: 10px;
}

.add__price {
    order: 2;
    margin: 0;

    text-align: center;

    font-weight: 500;
}



/*footer*/
/*mailing*/
/*social*/
/*copyright*/
/*site-navigation*/
/*telephone*/