.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*social*/

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.social__title {
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social__item {
    width: min-content;
    margin-right: 1.25%;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    position: relative;

    display: block;
    width: 35px;
    height: 35px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
}

.social__link--vk::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 9px;

    display: block;
    width: 16px;
    height: 17px;

    background-image: url("../../img/icon-vk.png");
    background-repeat: no-repeat;
}

.social__link--fb::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 11px;

    display: block;
    width: 11px;
    height: 22px;

    background-image: url("../../img/icon-fb.png");
    background-repeat: no-repeat;
}

.social__link--class::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 10px;

    display: block;
    width: 14px;
    height: 23px;

    background-image: url("../../img/icon-class.png");
    background-repeat: no-repeat;
}

.social__link--pinterest::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 7px;

    display: block;
    width: 19px;
    height: 24px;

    background-image: url("../../img/icon-pinterest.png");
    background-repeat: no-repeat;
}

.social__link--pinme::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../../img/icon-pinme.png");
    background-repeat: no-repeat;
}

.social__link--instagram::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 6px;

    display: block;
    width: 21px;
    height: 22px;

    background-image: url("../../img/icon-inst.png");
    background-repeat: no-repeat;
}

.social__link--youtube::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 6px;

    display: block;
    width: 22px;
    height: 29px;

    background-image: url("../../img/icon-youtube-soc.png");
    background-repeat: no-repeat;
}

.social__link:hover,
.social__link:focus {
    border-color: #ff6c00;
    outline: none;
}

.social__link:active {
    border-color: rgba(255, 108, 0, 0.6);
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .social__title {
        margin-right: 10px;
        padding-top: 30px;
        padding-bottom: 36px;
    }

    .social__list {
        justify-content: center;
        width: auto;
    }

    .social__link {
        width: 50px;
        height: 50px;
    }
}