
/*mailing*/

.mailing {
    order: 2;

    width: 100%;

    background-color: #ffffff;
}

.mailing__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 20px;
}

.mailing__slogan {
    padding-top: 15px;

    font-family: "Roboto", "Arial", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2a2a2a;
}

.mailing__form {
    width: 100%;
}

.mailing__field {
    width: 75%;
    height: 30px;
    padding-left: 15px;

    border-radius: 30px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.mailing__field::placeholder {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: calc(14px * 1.2);
    color: #8b8b8b;
}

@media screen and (max-width: 767px) {
    .mailing__slogan__hidden {
        display: none;
    }

    .mailing__button {
        position: relative;

        width: 60px;
        height: 50px;

        font-size: 0;

        background-color: transparent;
    }

    .mailing__button::before {
        content: "";

        position: absolute;
        top: 7px;
        right: 0;

        display: block;
        width: 60px;
        height: 50px;

        background-image: url("../../img/icon-mail.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .mailing__wrapper {
        justify-content: space-around;
    }

    .mailing__slogan {
        font-family: "Helvetica", "Arial", "sans-serif";
        font-weight: 700;
        font-style: italic;
        font-size: 14px;
        line-height: calc(14px * 1.2);
    }

    .mailing__slogan__hidden {
        display: block;
        padding: 0;
    }

    .mailing__form {
        display: flex;
        width: 50%;
    }
}

@media screen and (min-width: 1150px) {
    .mailing {
        order: 0;
    }

    .mailing__wrapper {
    justify-content: center;
    }

    .mailing__wrapper::before {
        content: "";

        display: block;
        width: 61px;
        height: 43px;
        margin-right: 20px;
        margin-bottom: -5px;

        background-image: url("../../img/icon-mail.png");
        background-repeat: no-repeat;
    }

    .mailing__form {
        width: auto;
    }

    .mailing__slogan {
        font-size: 16px;
        line-height: calc(16px * 1.2);
    }

    .mailing__field {
        width: 242px;
        margin-left: 50px;
    }
}