/*user-navigation*/

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation__item {
    width: 33.3%;
}

.user-navigation__link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    min-height: 35px;
    padding-left: 30px;

    font-size: 12px;
    line-height: calc(12px * 1.2);
    color: #000000;
}

.user-navigation__link--authorization::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/icon-autorization.png");
    background-repeat: no-repeat;
}

.user-navigation__link--basket::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../img/icon-basket.png");
    background-repeat: no-repeat;
}

.user-navigation__description {
    margin: 0;
}

.user-navigation__link--authorization .user-navigation__description {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: calc(14px * 1.2);
}

@media screen and (max-width: 767px) {
    .user-navigation__link--authorization::before {
        content: "";

        background-size: contain;
        background-position: 50%;
    }

    .user-navigation__link--basket::before {
        content: "";

        background-size: contain;
        background-position: 65%;
    }

    .user-navigation__link--etc::before {
        content: "";
        position: absolute;
        top: 43%;
        right: 20px;

        display: block;
        width: 8px;
        height: 8px;

        background-color: #ff6c00;
        border-radius: 50%;
        box-shadow: -20px 0 0 0 #ff6c00, 20px 0 0 0 #ff6c00;
    }

    .user-navigation__link:active,
    .user-navigation__link:focus {
        opacity: 0.3;
    }

    .user-navigation__description {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .user-navigation {
        justify-content: flex-end;
        flex-grow: 1;
        width: 40%;
        min-width: 300px;
    }

    .user-navigation__link--authorization .user-navigation__description {
        padding-top: 5px;
        padding-left: 5px;
    }

    .user-navigation__item {
        width: auto;
        padding-left: 58px;
    }

    .user-navigation__item:first-child {
        padding-left: 0;
    }

    .user-navigation__item--hidden {
        display: none;
    }
}